.bloques{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}


.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    position: sticky;
    top: 200px;

  }