body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding: 2vh 4vw 2vh 4vw;
}

.espacio {
    height: 5vh;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    opacity: 0.8;
    max-width: 500px;
    max-height: 600px;
    border-radius: 20px;
}

.fila {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

mat-card-title {
    margin: auto;
}

#descripcion {
    margin: auto;
}

#card-formulario {
    padding-top: 4vh;
    background-color: #f6f6f6;
}

form {
    width: 80%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.width-100 {
    width: 100%;
}

input {
    color: black;
}

mat-datepicker-toggle {
    color: black !important;
}



/*++++++++++++  Material Input Color  ++++++++++++*/

::ng-deep .mat-form-field .mat-form-field-label {
    /** Change label color on label **/
    color: black !important;
}

::ng-deep .mat-form-field-underline {
    /** Change color of underline **/
    background-color: black !important;
} 

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    /** Change label color on focused **/
    color: black !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    /** underline border color on focused **/
    background-color: black !important;
}

::placeholder { 
    color: black;
}